.cart-product-main-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-product-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-product-image {
    Width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    background: #FFFFFF;
}

.table-container {
    max-height: 500px;
}

.cart-product-image img {
    height: 100%;
}

.header-table th {
    font-weight: 600;
}

.footer-table td {
    font-weight: 800;
    font-size: 15px;
}

.img-container-product-table {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-product-table {
    height: 100px;
}

.img-empty-cart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.img-empty-cart-container img {
    margin: 0px 0px 0px 80px;
}

.msg-main-empty-cart {
    margin: 20px 0px 0px 0px !important;
    font-size: 25px !important;
    font-weight: 600 !important;
}

.msg-empty-cart {
    font-size: 15px !important;
}

.buttons-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 20px;
    margin: 20px 0px 0px 0px;
}
.button-create {
    background: #3d93cc !important;
    color: #FFFFFF !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    text-transform: none !important;
}
.button-clear {
    font-size: 15px !important;
    font-weight: 700 !important;
    text-transform: none !important;
    border: 2px solid;
}

.loading-progress {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    background: #0000005d;
    left: 0;
    top: 0;
    z-index: 99999;
}

.form-checkout-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 400px;
}

.buttons-dialog-container {
    margin: 0px 18px 18px 0px;
    display: flex;
    gap: 20px;
}