.counter-container {
    width: 100%;
    flex: 1;
}
.button-count {
    flex: 1 1 30%;
    background: #3d93cc !important;
    color: #FFFFFF !important;
    font-size: 15px !important;
    font-weight: 700 !important;
}
.button-text-count {
    flex: 1 1 40%;
    border: 1px solid rgba(25, 118, 210, 0.5) !important;
    color: #000000 !important;
}