.main-app-container {
  width: calc(100vw - 250px);
  float: right;
}
.content-container {
  background: yellowgreen;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}